<ion-header>
    <ion-navbar class="force-back-button" color="primary">
        <ion-title>{{'CREDITS-TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <ion-card>
            <ion-card-content>
                <ion-avatar item-left>
                    <img class="avatar" src="assets/icon/avatar.png">
                </ion-avatar>
                <ion-card-title>
                    spheras - José Amuedo Salmerón
                </ion-card-title>
                <p>
                    (spheras)=&gt;{{'{'}}console.log(&quot;<strong>BackingTrainer Developer and Designer</strong>&quot;){{'}'}};
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-card-title>
                    Willem Vree
                </ion-card-title>
                <p>
                    Library to convert musicxml to ABC notation.
                </p>
                <a href="https://wim.vree.org" target="_blank">https://wim.vree.org/js/xml2abc-js.html</a>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-card-title>
                    Jean-Francois Moine
                </ion-card-title>
                <p>
                    Library to convert ABC notation to SVG score.
                </p>
                <a href="http://moinejf.free.fr/js" target="_blank">http://moinejf.free.fr/js</a>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-card-title>
                    danigb
                </ion-card-title>
                <p>
                    Sound Font player library.
                </p>
                <a href="https://github.com/danigb/soundfont-player" target="_blank">https://github.com/danigb/soundfont-player</a>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-card-title>
                    Chris Wilson
                </ion-card-title>
                <p>
                    Pitch Detection Library
                </p>
                <a href="https://github.com/cwilso/PitchDetect" target="_blank">https://github.com/cwilso/PitchDetect</a>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-card-title>
                    Garrett Grimm
                </ion-card-title>
                <p>
                    Midi Player Library
                </p>
                <a href="https://github.com/grimmdude/MidiPlayerJS" target="_blank">https://github.com/grimmdude/MidiPlayerJS</a>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-card-title>
                    Ionic Team
                </ion-card-title>
                <p>
                    Ionic framework
                </p>
                <a href="https://ionicframework.com/" target="_blank">https://ionicframework.com/</a>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-card-title>
                    and thousands of many other open source libraries
                </ion-card-title>
                <p>
                    Long Live Open Source! THANKS TO ALL!!!
                </p>
                <a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank">https://en.wikipedia.org/wiki/Open-source_software</a>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>