.base{
    background: url(../assets/skins/skin3_back.svg);
    background-size: contain;
    width: 300px;
    height: 300px;
    padding: 0px;
    left: calc(50% - 150px);
    position: relative;
}

.note{
    position: absolute;
    font-size: 100px;
    color: #888888;
    z-index: 99999;
    left: 50%;
    margin-top: 80px;
    margin-left: -30px;
}

.note.correct{
    color:#07a707;
}

.knob{
    background:url('../assets/skins/skin3_front.svg');
    background-size: contain;    
    content:"";
    display: block;
    width: 100%;
    height: 100%;
}

ion-range{
    padding:0px !important;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.oscillator{
    left: 50%;
    margin-left: -100px;
    width: 200px;
}

.force-back-button .back-button {
  display: inline-block;
}