<div id="overlay" *ngIf="loadingComponent.length>0">
    <div id="loading">
        {{'TRAINER-WAIT' | translate}} {{loadingComponent}}
        <div id="patient">{{'TRAINER-WAIT-DETAIL' | translate}}</div>
    </div>

</div>

<ion-header>
    <ion-navbar color="dark">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <div class="container-knob">
            <knob class="skin1" #myknob1 [min]="20" [max]="300" [value]="60" [startDegree]="5" [intensive]="true" [endDegree]="355" (change)="setTempo($event)"></knob>
            <div class="info">{{tempo}} bpm</div>
        </div>

        <ion-buttons end>
            <button *ngIf="state==STATE_STOP || state==STATE_PAUSED" ion-button (click)="play();">
                <ion-icon name="ios-play"></ion-icon>
            </button>
            <button *ngIf="state==STATE_PLAYING" ion-button (click)="pause();">
                <ion-icon name="ios-pause"></ion-icon>
            </button>
            <button *ngIf="state==STATE_PLAYING || state==STATE_PAUSED" ion-button (click)="stop();">
                <ion-icon name="ios-square" color="danger"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>


<ion-content no-padding>
    <div *ngIf="prepare>-1" id="prepare">
        <span class="text" *ngIf="prepare==0">{{'TRAINER-PREPARE' | translate}}</span>
        <span class="number" *ngIf="prepare>0">{{prepare}}</span>
    </div>
    <div id="svg" [innerHTML]="svgContent"></div>
</ion-content>