#overlay{
position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;   
}
#overlay #loading #patient{
    font-size: 0.6em;
    color: #37aba2;
    margin-top: 10px;
}
#loading{
    width: 80%;
    position: absolute;
    background: white;
    padding: 10px;
    text-align: center;
    color: #444444;
    font-size: 1.5em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 86px;
    border-radius: 32px;
}

.modal-wrapper {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    left: 0px;
   top:0px;
}

#prepare{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    display: block;
    background: #222222;
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border: 24px solid #ffffff;
    text-align: center;
    line-height: 250px;
    color: #ffffff;
    font-family: monospace;
}

#prepare span.text{
        font-size: 45px;    
}

#prepare span.number{
    font-size: 150px;
}


    .container-knob{
        overflow: hidden;
        width: 125px;
        margin: 0px;
        height: 35px;
        padding: 0px;
        border: 0px;
    }
    .container-knob .info{
        font-family: monospace;
        text-align: center;
        font-size: 17px;
        color: white;
        margin-top: 8px;
    }
    knob{
        background-size:contain;
        width:35px;
        height:35px;
        display:block;
        float:left;
    }
    knob.skin1{
        background:url('../assets/skins/skin1_back.svg');
        background-size: contain;    
        width:35px;
        height:35px;
    }
    
    knob.skin1 .knob{
        background:url('../assets/skins/skin1_front.svg');
        background-size: contain;    
        width:35px;
        height:35px;
    }