<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="3" id="com.ionicframework.backingtrainer763961" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>backingtrainer</name>
    <description>Train with your favourite soloist instrument thru backing tracks.</description>
    <author email="joseamuedo@gmail.com" href="https://github.com/spheras">spheras</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="2" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="30000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="android-targetSdkVersion" value="26" />
</widget>
