<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Tabs</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-tabs>
        <ion-tab tabIcon="water" tabTitle="{{ 'HELLO' | translate }}" [root]="tab1"></ion-tab>
        <ion-tab tabIcon="leaf" tabTitle="Life" [root]="tab2"></ion-tab>
        <ion-tab tabIcon="flame" tabTitle="Fire" [root]="tab3"></ion-tab>
        <ion-tab tabIcon="magnet" tabTitle="Force" [root]="tab4"></ion-tab>
    </ion-tabs>

</ion-content>