<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'MAIN-TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-tabs>
        <ion-tab tabIcon="water" tabTitle="{{ 'MAIN-RECENT' | translate }}" [root]="tab1"></ion-tab>
        <ion-tab tabIcon="leaf" tabTitle="{{ 'MAIN-DOWNLOADED' | translate }}" [root]="tab2"></ion-tab>
        <ion-tab tabIcon="flame" tabTitle="{{ 'MAIN-SEARCH' | translate }}" [root]="tab3"></ion-tab>
    </ion-tabs>

</ion-content>