<ion-header>
    <ion-navbar class="force-back-button" color="primary">
        <ion-title>{{'DOWNLOADS-TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <p>{{'DOWNLOADS-TITLE1' | translate}}</p>
        <p>{{'DOWNLOADS-TITLE2' | translate}}</p>

        <a href="https://github.com/spheras/backingtrainer/releases" target="_blank"><ion-icon class="logo" name="logo-windows"></ion-icon></a>
        <a href="https://github.com/spheras/backingtrainer/releases" target="_blank"><ion-icon class="logo" name="logo-tux"></ion-icon></a>
        <a href="https://github.com/spheras/backingtrainer/releases" target="_blank"><ion-icon class="logo" name="logo-apple"></ion-icon></a>
        
        <a href="https://github.com/spheras/backingtrainer/releases" target="_blank"><ion-icon class="logo" name="logo-android"></ion-icon></a>
    </div>
</ion-content>