<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Backing Trainer [v1.0-alfa]</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <!--
                <p><strong>BackingTrainer</strong> es un desarrollo de <a href="https://github.com/spheras/backingtrainer" target="_blank">código abierto</a>                    (licencia <a target="_blank" href="http://www.gnu.org/licenses/gpl-3.0.txt">GPLv3</a>) y totalmente gratuito
                    para la práctica de instrumentos solistas mediante una partitura y un acompañamiento.</p>
                <p class="alert"><strong>¡Recuerda!</strong> Necesitamos tu ayuda para poder ir aumentando poco a poco el repositorio de partituras
                    disponibles.
                </p>

        -->

    <ion-slides pager>

        <ion-slide class="slide1">
            <div class="container">
                <img src="assets/icon/info-logo.png" class="slide-image" />
                <h2 class="slide-title">{{'INFO-SLIDE1-TITLE' | translate}}</h2>
                <div [innerHtml]="'INFO-SLIDE1-BODY' | translate"></div>
                <button ion-button round color="epoque" (click)="showCredits()">
                    {{'INFO-CREDITS' | translate}}
                </button>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="container">
                <img src="assets/icon/info-alpha.png" class="slide-image" />
                <h2><strong>{{'INFO-SLIDE2-TITLE' | translate}}</strong></h2>
                <div [innerHtml]="'INFO-SLIDE2-BODY' | translate"></div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="container">
                <img src="assets/icon/info-work.png" class="slide-image" />
                <h2><strong>{{'INFO-SLIDE3-TITLE' | translate }}</strong></h2>
                <div [innerHtml]="'INFO-SLIDE3-BODY' | translate"></div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="container">
                <img src="assets/icon/info-mobile.png" class="slide-image" />
                <h2><strong>{{'INFO-SLIDE4-TITLE' | translate}}</strong></h2>
                <div [innerHtml]="'INFO-SLIDE4-BODY' | translate"></div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="container">
                <img src="assets/icon/info-language.png" class="slide-image" />
                <h2><strong>{{'INFO-SLIDE5-TITLE' | translate }}</strong></h2>
                <div [innerHtml]="'INFO-SLIDE5-BODY' | translate"></div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="container">
                <img src="assets/icon/info-go.png" class="slide-image" />
                <h2><strong>{{'INFO-SLIDE6-TITLE' | translate }}</strong></h2>
                <div [innerHtml]="'INFO-SLIDE5-BODY' | translate"></div>
            </div>
        </ion-slide>

    </ion-slides>
</ion-content>