.instrument-icon {
    background: #FAFAFA;
    border-radius: 22px;
    border: 1px dashed #CACACA;
    padding: 4px;
}

.item{
    padding-left:8px !important;
}
.thumbnail
{
     left: 0px !important;
     margin:0px !important;
}

.thumbnail-col{
    max-width: 90px;

}

p{
    padding:0px !important;
}


.action{
    text-transform: none;
    padding-right: 15px;
    padding-left: 0px;
}