.instrument-icon {
    background: rgb(255, 255, 255);
    border-radius: 7px;
    border: 1px solid #e6e6e6;
    padding: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
}

.item{
    padding-left:8px !important;
}
.thumbnail
{
     left: 0px !important;
     margin:0px !important;
}

.thumbnail-col{
    max-width: 90px;

}

p{
    padding:0px !important;
}


.action{
    text-transform: none;
    padding-right: 15px;
    padding-left: 0px;
}