<!--
<ion-menu [content]="content" side="right" id="menu-search" persistent="true" type="overlay" enabled="false">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Ordenar por Tipo</ion-label>
        <ion-toggle color="primary" [ngModel]="settings.playerSettings.cursorAnimation" (ngModelChange)="settingAnimation($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Ordenar por Nombre</ion-label>
        <ion-toggle color="bright" [ngModel]="settings.playerSettings.cursor" (ngModelChange)="settingCursor($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>High Quality Sound (this will require a good performance of your device)</ion-label>
        <ion-toggle color="royal" [ngModel]="settings.playerSettings.highQualitySound" (ngModelChange)="settingSoundQuality($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Play Soloist Voice</ion-label>
        <ion-toggle color="subtle" [ngModel]="settings.playerSettings.playSoloist" (ngModelChange)="settingPlaySoloist($event)"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
-->
<ion-menu [content]="content" side="left" id="menu-trainer" persistent="true" type="overlay" enabled="false">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item text-wrap>
        <ion-label>
          <strong>{{ 'MENU-TRAINER-ANIMATION-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-ANIMATION-DESC' | translate }}</h5>
        </ion-label>
        <ion-toggle color="primary" [ngModel]="settings.playerSettings.cursorAnimation" (ngModelChange)="settingAnimation($event)"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <strong>{{ 'MENU-TRAINER-CURSOR-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-CURSOR-DESC' | translate }}</h5>
        </ion-label>
        <ion-toggle color="bright" [ngModel]="settings.playerSettings.cursor" (ngModelChange)="settingCursor($event)"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <strong>{{ 'MENU-TRAINER-QUALITY-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-QUALITY-DESC' | translate }}</h5>
        </ion-label>
        <ion-toggle color="royal" [ngModel]="settings.playerSettings.highQualitySound" (ngModelChange)="settingSoundQuality($event)"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <strong>{{ 'MENU-TRAINER-SOLOIST-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-SOLOIST-DESC' | translate }}</h5>
        </ion-label>
        <ion-toggle color="subtle" [ngModel]="settings.playerSettings.playSoloist" (ngModelChange)="settingPlaySoloist($event)"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>