<ion-menu [content]="content" side="right" id="menu-search" persistent="true" type="overlay" enabled="false">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Show Flute</ion-label>
        <ion-toggle color="royal" [ngModel]="settings.filterSettings.flute" (ngModelChange)="settingInstrumentFilter('flute',$event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Show Clarinet</ion-label>
        <ion-toggle color="bright" [ngModel]="settings.filterSettings.clarinet" (ngModelChange)="settingInstrumentFilter('clarinet',$event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Show Record</ion-label>
        <ion-toggle color="primary" [ngModel]="settings.filterSettings.record" (ngModelChange)="settingInstrumentFilter('record',$event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Show Trumpet</ion-label>
        <ion-toggle color="subtle" [ngModel]="settings.filterSettings.trumpet" (ngModelChange)="settingInstrumentFilter('trumpet',$event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Show Saxophone</ion-label>
        <ion-toggle color="danger" [ngModel]="settings.filterSettings.saxophone" (ngModelChange)="settingInstrumentFilter('saxophone',$event)"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu [content]="content" side="left" id="menu-trainer" persistent="true" type="overlay" enabled="false">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ 'MENU-TRAINER-OPTIONS-TITLE' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item text-wrap (click)="tune()">
        <ion-label>
          <strong>{{ 'MENU-TRAINER-TUNE-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-TUNE-DESC' | translate }}</h5>
        </ion-label>
        <ion-icon name="microphone" item-right color="royal" (click)="tune()"></ion-icon>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <strong>{{ 'MENU-TRAINER-ANIMATION-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-ANIMATION-DESC' | translate }}</h5>
        </ion-label>
        <ion-toggle color="primary" [ngModel]="settings.playerSettings.cursorAnimation" (ngModelChange)="settingAnimation($event)"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <strong>{{ 'MENU-TRAINER-CURSOR-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-CURSOR-DESC' | translate }}</h5>
        </ion-label>
        <ion-toggle color="bright" [ngModel]="settings.playerSettings.cursor" (ngModelChange)="settingCursor($event)"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <strong>{{ 'MENU-TRAINER-PLAYBACK-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-PLAYBACK-DESC' | translate }}</h5>
        </ion-label>
        <ion-toggle color="royal" [ngModel]="settings.playerSettings.playBack" (ngModelChange)="settingPlayBack($event)"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <strong>{{ 'MENU-TRAINER-SOLOIST-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-SOLOIST-DESC' | translate }}</h5>
        </ion-label>
        <ion-toggle color="subtle" [ngModel]="settings.playerSettings.playSoloist" (ngModelChange)="settingPlaySoloist($event)"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <strong>{{ 'MENU-TRAINER-DOUBLEPREPARATION-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-DOUBLEPREPARATION-DESC' | translate }}</h5>
        </ion-label>
        <ion-toggle color="danger" [ngModel]="settings.playerSettings.doublePreparation" (ngModelChange)="settingDoublePreparation($event)"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <strong>{{ 'MENU-TRAINER-METRONOME-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-METRONOME-DESC' | translate }}</h5>
        </ion-label>
        <ion-toggle color="danger" [ngModel]="settings.playerSettings.metronome" (ngModelChange)="settingMetronome($event)"></ion-toggle>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          <strong>{{ 'MENU-TRAINER-HIGHQUALITY-TITLE' | translate }}</strong>
          <h5>{{ 'MENU-TRAINER-HIGHQUALITY-DESC' | translate }}</h5>
        </ion-label>
        <ion-toggle color="bright" [ngModel]="settings.playerSettings.highQuality" (ngModelChange)="settingHighQuality($event)"></ion-toggle>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>