<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'RECENT-TITLE' | translate}}</ion-title>
        <button ion-button class="bt_sort" (click)="onSortPopup($event)">
            <ion-icon name="funnel"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-searchbar (ionInput)="filterCompositions($event.target.value)"></ion-searchbar>

    <ion-list>
        <ng-template ngFor let-composition [ngForOf]="filteredComp" let-i="index">
            <ion-item class="item">
                <ion-row nowrap>
                    <ion-col no-padding class="thumbnail-col">
                        <ion-thumbnail class="thumbnail" item-left>
                            <img class="instrument-icon" src="assets/icon/instruments/{{composition.frontInstrument.name.toLowerCase()}}.svg">
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col text-wrap>
                        <h2><strong><a target="_blank" href="{{composition.wikipediaLink}}">{{composition.name}}</a></strong></h2>
                        <h3>{{composition.author}}</h3>
                        <p><strong>{{'SEARCH-LEVEL' | translate}}:{{composition.level}}</strong>{{(composition.description.length>0?' | ' + composition.description:'')}}</p>
                    </ion-col>
                </ion-row>
                <ion-row align-items-start>
                        <button *ngIf="!composition.flagPlaying" ion-button clear icon-left class="action" (click)="playMidi(i)">
                            <ion-icon name='headset'></ion-icon>
                            {{'SEARCH-PLAY' | translate}}
                        </button>
                        <button *ngIf="composition.flagPlaying" ion-button clear icon-left class="action" (click)="stopMidi(i)">
                            <ion-icon name='pause'></ion-icon>
                            {{'SEARCH-STOP' | translate}}
                        </button>
                        <button ion-button clear icon-left class="action" (click)="trainComposition(i)">
                            <ion-icon name="musical-notes"></ion-icon>
                            {{'SEARCH-TRAIN' | translate}}
                        </button>
                        <button ion-button clear icon-left color="danger" class="action" (click)="removeComposition(i)">
                            <ion-icon name="trash"></ion-icon>
                            {{'DOWNLOADED-REMOVE' | translate}}
                        </button>
                </ion-row>
            </ion-item>
        </ng-template>
    </ion-list>

</ion-content>
-->