<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'SEARCH-TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-searchbar (ionInput)="filterCompositions($event.target.value)"></ion-searchbar>

    <ion-list>
        <template ngFor let-composition [ngForOf]="filteredComp" let-i="index">
            <ion-item>
                <ion-thumbnail item-left>
                    <img class="instrument-icon" src="assets/icon/instruments/{{composition.frontInstrument.toLowerCase()}}.svg">
                </ion-thumbnail>
                <h2>{{composition.name}}</h2>
                <p>{{composition.author}}</p>
                <ion-col>
                    <button *ngIf="!composition.flagPlaying" ion-button clear no-padding icon-left (click)="playMidi(i)">
                        <ion-icon name='musical-notes'></ion-icon>
                        {{'SEARCH-PLAY' | translate}}
                    </button>
                    <button *ngIf="composition.flagPlaying" ion-button clear no-padding icon-left (click)="stopMidi(i)">
                        <ion-icon name='pause'></ion-icon>
                        {{'SEARCH-STOP' | translate}}
                    </button>
                    <button *ngIf="composition.flagDownloaded" ion-button  clear icon-left>
                        <ion-icon name="cloud-download"></ion-icon>
                        {{'SEARCH-DOWNLOADED' | translate}}
                    </button>
                    <button *ngIf="!composition.flagDownloaded" ion-button clear icon-left (click)="downloadComposition(i)">
                            <ion-icon name="cloud-download"></ion-icon>
                            {{'SEARCH-DOWNLOAD' | translate}}
                    </button>
                </ion-col>
            </ion-item>
        </template>
    </ion-list>

</ion-content>