.instrument-icon {
    background: rgb(255, 255, 255);
    border-radius: 7px;
    border: 1px solid #e6e6e6;
    padding: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
}

.instrument-icon.composition{
    background: #f1f6ff;
    border-radius: 22px;
    border: 1px solid #FFFFFF;
    padding: 4px;
    box-shadow: 0px 0px 4px rgb(4, 97, 255) inset;
}

.item{
    padding-left:8px !important;
}
.item.subitem{
    background: #efefef;
}
.thumbnail
{
     left: 0px !important;
     margin:0px !important;
}

.thumbnail-col{
    max-width: 90px;

}

p{
    padding:0px !important;
}

.action{
    text-transform: none;
    padding-right: 15px;
    padding-left: 0px;
}

ion-item.expanded ion-list{
    display: block;
}

ion-item ion-list{
    display: none;
}

ion-item:active ion-icon.composition-add{
    background: #8A8A8A;
    color:white;
}
ion-icon.composition-add{
    width: 23px;
    background: #EFEFEF;
    margin-right: 6px;
    padding: 3px;
    color: #888888;
}

ion-icon.composition-add:before{
    top: 60px;
    margin-left: 1px;
    position: absolute;
    margin-top: -10px;
}