.instrument-icon {
    float: left;
    width: 5em;
    border-radius: 4px;
    margin: 3px 8px 3px 3px;
    background: #FFFFFF;
}

.card-content-md.composition-title
{
     padding: 0px 16px 13px 16px !important;
}