.instrument-icon {
    background: #FAFAFA;
    border-radius: 22px;
    border: 1px dashed #CACACA;
    padding: 4px;
}

.card-content-md.composition-title
{
     padding: 0px 16px 13px 16px !important;
}